NEXT_PUBLIC_NETWORK=""
NEXT_PUBLIC_MONGO_URI=""
NEXT_PUBLIC_ABI_ADDRESS=""
NEXT_PUBLIC_DISCORD_CLIENT_ID=""
NEXT_PUBLIC_DISCORD_CLIENT_SECRET=""
NEXT_PUBLIC_DISCORD_REDIRECT_URI=""
NEXT_PUBLIC_DISCORD_BOT_TOKEN=""
NEXT_PUBLIC_LISTING_CHANNEL_ID=""
